<div class="flex w-full border-b-2 border-primary bg-slate-800">
  <nav class="text-white container flex flex-row gap-x-10 items-center p-4 mx-auto">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
      class="text-lg">Accueil</a>
    <a routerLink="/projects" routerLinkActive="active" class="text-lg">Projets</a>
  </nav>
</div>

<main class="flex-1 text-white">
  <router-outlet></router-outlet>
</main>

<footer class="flex border-t-2 border-primary bg-slate-800 p-4 w-full">
  <div class="container mx-auto">
    <div class="flex gap-4 justify-end">
      <a href="https://www.linkedin.com/in/nicolas-wallet/"
        title="LinkedIn - Nicolas Wallet - nouvelle fenêtre" target="_blank">
        <ng-icon name="simpleLinkedin" size="1.8rem" color="white"></ng-icon>
      </a>
      <a href="https://github.com/Deuzwood" title="GitHub - Nicolas Wallet - nouvelle fenêtre"
        target="_blank">
        <ng-icon name="simpleGithub" size="1.8rem" color="white"></ng-icon>
      </a>
    </div>
  </div>
</footer>