<div class="container mx-auto p-8 flex flex-col gap-4">
  <div>
    <h1 class="text-2xl font-semibold">Projets</h1>
    <p class="text-lg items-center">Voici une liste de projets que j'ai réalisés ou auxquels j'ai
      participé, dans le cadre de mes études ou sur mon temps libre.</p>
  </div>

  <div class="flex flex-col gap-6">
    <div *ngFor="let project of projects"
      class="max-w-md mx-auto border-2 border-white rounded-xl shadow-md overflow-hidden md:max-w-full md:w-full">
      <div class="md:flex">
        <div class="md:shrink-0">
          <img
            class="h-64 w-full object-cover md:h-full md:w-64 lg:w-96 md:border-r-2 cursor-pointer hover:opacity-75 hover:shadow-lg"
            [src]="getImagePath(project.name)" (click)="selectProject(project)"
            alt="{{ project.name }}">
        </div>

        <div class="p-8 w-full ">
          <div class="sm:flex sm:justify-between uppercase tracking-wide text-sm gap-4">
            <h2 class="text-primary font-semibold">{{ project.name }}</h2>
            <span class="text-slate-100">{{ project.date | date: 'MMMM yyyy'
              }}</span>
          </div>

          <p class="block mt-1 text-lg leading-tight font-medium">
            {{project.description }}
          </p>

          <div class="flex gap-2" *ngIf="project.links && project.links.length > 0">
            <a *ngFor="let link of project.links" [href]="link" target="_blank"
              class="text-sm underline hover:border-b hover:border-primary hover:text-primary">
              {{link.split('/')[2]}}
            </a>
          </div>

          <div class="lg:flex lg:justify-between lg:items-center mt-2">
            <div *ngIf=" project.tags">
              <span *ngFor="let tag of project.tags"
                class="text-sm px-2 mr-2 rounded-full border-2 badge-{{ getTagColor(tag) }}">
                {{ getTag(tag).name }}
              </span>
            </div>
          </div>

          <div class="mt-2">
            <p class="text-sm text-slate-300">
              {{ project.maintained ? 'Ce projet continue de recevoir des mises à jour' :
              'Ce projet n\'est plus maintenu' }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="fixed z-10 top-0 left-0 w-full h-full bg-black bg-opacity-50
" *ngIf="selectedProject" (click)="unselectProject()">
  <div class="bg-slate-800 rounded-md border-2 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2
  " (click)="$event.stopPropagation()">

    <div class="flex justify-between p-2 align-top">
      <h1 class="text-2xl font-semibold pl-2">{{ selectedProject.name }}</h1>
      <button (click)="selectedProject = null">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none"
          viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>

    <img class="border-t-2" [src]="getImagePath(selectedProject.name)"
      alt="{{ selectedProject.name }}">
  </div>
</div>