
.badge-nodejs {
  background-color: #92c542;
}

.badge-php {
  background-color: #6082bb;
}

.badge-socketio {
  border-color: black;
}

.badge-threejs {
  border-color: #007200;
}

.badge-html {
  background-color: #f16625;
}

.badge-css {
  background-color: #0645ad;
}

.badge-apitwitch {
  color: black;
  border-color: #9147fe;
}

.badge-apichesscom {
  color: black;
  border-color: #4e7838;
}

.badge-postgresql {
  background-color: #336791;
}

.badge-javascript {
  color: black;
  background-color: #f7e018;
}

.badge-ulco {
  background-color: #005796;
}

.badge-mysql {
  background-color: #4479a1;
}

.badge-aws {
  border-color: #ff9900;
  color: black;
}

.badge-apidecathlon {
  background-color: #007dbc;
}

.badge-apigoogle {
  background: linear-gradient(-120deg, #4285f4, #34a853, #fbbc05, #ea4335);
}

.badge-react {
  background-color: #16181d;
  color: #61dafb;
}

.badge-netlify {
  border-color: #00c7b7;
}

.badge-firebase {
  border-color: #2C384A;
  color:  #FFA000;
}

.badge-vuejs {
  background-color: #35495e;
  color: #42b883;
}

.badge-angular {
  background-color: #dd1b16;
}

.badge-tailwindcss {
  background-color: #06b6d4;
  color: black;
}

.badge-sass {
  background-color: #c69;
}

.badge-bootstrap {
  background-color: #563d7c;
}

.badge-apispotify {
  background-color: #1db954;
}

.badge-heroku {
  background-color: #6567a5;
}