<div class="container mx-auto p-8 flex flex-col gap-4">
  <div>
    <h1 class="text-2xl font-semibold">Projets</h1>
    <p class="text-lg items-center">Voici une liste de projets que j'ai réalisés ou auxquels j'ai
      participé, dans le cadre de mes études ou sur mon temps libre.</p>
  </div>

  <div class="flex flex-col gap-6">
    <div *ngFor="let project of projects"
      class="max-w-md mx-auto border-2 border-white rounded-xl shadow-md overflow-hidden md:max-w-full md:w-full">
      <div class="md:flex">
        <div class="md:shrink-0">
          <img class="h-64 w-full object-cover md:h-full md:w-64 lg:w-96"
            [src]="getImagePath(project.name)" alt="{{ project.name }}">
        </div>

        <div class="p-8 w-full ">
          <div class="sm:flex sm:justify-between uppercase tracking-wide text-sm gap-4">
            <h2 class="text-primary font-semibold">{{ project.name }}</h2>
            <span class="text-slate-100">{{ project.date | date: 'MMMM yyyy'
              }}</span>
          </div>

          <p class="block mt-1 text-lg leading-tight font-medium">
            {{project.description }}
          </p>

          <div class="flex gap-2" *ngIf="project.links && project.links.length > 0">
            <a *ngFor="let link of project.links" [href]="link" target="_blank"
              class="text-sm underline hover:border-b hover:border-primary hover:text-primary">
              {{link.split('/')[2]}}
            </a>
          </div>

          <div class="lg:flex lg:justify-between lg:items-center mt-2">
            <div *ngIf=" project.tags">
              <span *ngFor="let tag of project.tags"
                class="text-sm px-2 mr-2 rounded-full border-2 badge-{{ getTagColor(tag) }}">
                {{ getTag(tag).name }}
              </span>
            </div>
          </div>

          <div class="mt-2">
            <p class="text-sm text-slate-300">
              {{ project.maintained ? 'Ce projet continue de recevoir des mises à jour' :
              'Ce projet n\'est plus maintenu' }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>