<div
  class="container mx-auto p-8 flex flex-col divide-y-2 divide-primary gap-4 divide-opacity-50 text-lg">

  <section class="py-4 px-4 sm:px-12 transition-spacing">
    <h1 class="text-3xl font-semibold text-white">Développeur
      <span class="text-primary">full
        stack</span>,<br>
      <span class="text-primary">Consultant</span> applications chez
      <a href="https://www.fr.sogeti.com/" target="_blank" rel="noopener noreferrer"
        class="text-gray-300 underline hover:text-white"
        title="Sogeti France | Gérez la transformation numérique de votre entreprise avec Sogeti - nouvelle fenêtre">Sogeti
        <ng-icon name="matOpenInNewOutline" size="1rem"></ng-icon>
      </a>.
    </h1>
  </section>

  <section class="flex flex-col gap-4 py-4 px-4 sm:px-12 transition-spacing">
    <h2 class="text-2xl py-2 font-semibold">Expériences</h2>

    <div class="grid grid-cols-5 gap-4 divide-x-2 divide-primary my-2">
      <div class="">
        <h3 class="font-semibold text-white">Armée de l'Air et de l'Espace</h3>
        <p class="text-grey-300 text-sm">{{timeSpent.aae}}</p>
      </div>

      <div class="col-span-4 pl-4 pr-2">
        <div><small
          class="float-right rounded-full px-2 border border-primary uppercase text-xs">Depuis
          Aout
          2023</small>
          <p>Aspirant</p>
          <p>
            <app-badge *ngFor="let tech of ['Formation militaire initiale']"
              [name]="tech"></app-badge>
          </p>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-5  gap-4 divide-x-2 divide-primary my-2">
      <div>
        <h3 class="font-semibold text-white">Sogeti</h3>
        <p class="text-grey-300 text-sm">{{timeSpent.sogeti}}</p>
      </div>

      <div class="col-span-4 pl-4 pr-2">
        <div><small
          class="float-right rounded-full px-2 border border-primary uppercase text-xs">Depuis
          septembre
          2022</small>
          <p>Consultant Applications</p>
          <p>
            <app-badge *ngFor="let tech of ['Angular', 'Java', 'Spring', 'PostgreSQL', 'Keycloak']"
              [name]="tech"></app-badge>
          </p>
        </div>
  
        <div><small class="float-right uppercase text-xs">début avril
            - fin août 2022
          </small>
          <p>Stage de fin d'étude</p>
          <p>
            <app-badge *ngFor="let tech of ['Angular', 'Ionic', 'Java', 'Spring']"
              [name]="tech"></app-badge>
          </p>
        </div>
      </div>
    </div>

  </section>

  <section class="py-4 px-4 sm:px-12 transition-spacing">
    <h2 class="text-2xl py-2 font-semibold">Formations</h2>
    <div class="px-2 flex flex-col gap-2">
      <div>
        <small class="float-right">2020-2022</small>
        <p class="font-semibold">Université du Littoral Côte d'Opale</p>
        <p class="ml-4">Master Informatique - Web et Science de données</p>
        <p class="ml-4"> <a class="text-gray-300 underline hover:text-white"
            href="https://www.francecompetences.fr/recherche/rncp/34126/#ancre2" target="_blank"
            title="Fiche RNCP 34126 - Master informatique - nouvelle fenêtre">Fiche RNCP 34126
            <ng-icon name="matOpenInNewOutline" size="0.85rem"></ng-icon></a>
        </p>
      </div>

      <div>
        <small class="float-right">2017-2020</small>
        <p class="font-semibold">Université du Littoral Côte d'Opale</p>
        <p class="ml-4">Licence Informatique</p>
      </div>
    </div>
  </section>
</div>