<div class="container mx-auto p-8 flex flex-col divide-y-2 divide-primary gap-4 divide-opacity-50">

  <div class="flex gap-4 items-center">
    <img src="assets/nicolas-wallet.webp" alt class="rounded-full w-28 h-28">
    <div class="flex flex-col gap-y-2">
      <h1 class="text-2xl font-semibold">Nicolas Wallet</h1>
      <p class="text-lg items-center">Développeur full stack, consultant applications pour <a
          href="https://www.fr.sogeti.com/" target="_blank" rel="noopener noreferrer"
          class="text-primary hover:underline"
          title="Sogeti France | Gérez la transformation numérique de votre entreprise avec Sogeti - nouvelle fenêtre">Sogeti</a>.
      </p>
    </div>

  </div>
  <div>
    <h2 class="text-2xl py-2 font-semibold">Informations</h2>
    <div class="ml-8 flex flex-col gap-y-4">
      <div class="flex gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
          stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
        </svg>
        <p>
          23 ans
        </p>
      </div>
      <p class="flex gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
          stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
        </svg>
        <span class="text-gray-200">Environs de</span> Lille 59000, FRANCE
      </p>
      <p class="flex gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
          stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
        </svg>
        contact[at]nicolaswallet.fr
      </p>
    </div>
  </div>
  <div>
    <h2 class="text-2xl py-2 font-semibold">Expériences</h2>

    <div class="border-l-2 border-primary px-2"><small
        class="float-right rounded-full px-2 border border-primary uppercase">Depuis septembre
        2022</small>
      <p class="font-semibold">Sogeti</p>
      <p class="ml-4">Consultant Applications</p>
      <p class="ml-4"> 
        <app-badge *ngFor="let tech of ['Angular', 'Java', 'Spring', 'PostgreSQL', 'Keycloak']" [name]="tech"></app-badge>
      </p>
    </div>

    <div class="px-2"><small class="float-right uppercase">début avril
        - fin août 2022
      </small>
      <p class="font-semibold">Sogeti</p>
      <p class="ml-4">Stage de fin d'étude</p>
      <p class="ml-4">
        <app-badge *ngFor="let tech of ['Angular', 'Ionic', 'Java', 'Spring']" [name]="tech"></app-badge>
      </p>
    </div>
  </div>
  <div>
    <h2 class="text-2xl py-2 font-semibold">Formations</h2>
    <div class="px-2 flex flex-col gap-2">
      <div>
        <small class="float-right">2020-2022</small>
        <p class="font-semibold">Université du Littoral Côte d'Opale</p>
        <p class="ml-4">Master Informatique - Web et Science de données</p>
        <p class="ml-4"> <a class="text-gray-300 underline hover:text-white"
            href="https://www.francecompetences.fr/recherche/rncp/34126/#ancre2" target="_blank"
            title="Fiche RNCP 34126 - Master informatique - nouvelle fenêtre">Fiche RNCP 34126</a>
        </p>
      </div>

      <div>
        <small class="float-right">2017-2020</small>
        <p class="font-semibold">Université du Littoral Côte d'Opale</p>
        <p class="ml-4">Licence Informatique</p>
      </div>
      <div>
        <small class="float-right">2017</small>
        <p class="font-semibold">Lycée Édouard Branly</p>
        <p class="ml-4">Baccalauréat Scientifique,
          option Sciences de
          l'ingénieur,
          spécialité Mathématiques</p>
      </div>
    </div>
  </div>
  <div>
    <h2 class="text-2xl py-2 font-semibold">Loisirs</h2>
    <div class="ml-5">
      <p>Course à pied - Cyclisme</p>
      <p>Échecs</p>
    </div>
  </div>
</div>